[Unit]
Description=Kcptun Client Service
After=network.target

[Service]
Type=simple
User=proxy
#ExecStart=/usr/bin/kcptun-client -c /etc/kcptun-client/%i.json --log /var/log/kcptun-client/%i-stderr.log --snmplog /var/log/kcptun-client/%i-snmp.log
ExecStart=/usr/bin/kcptun-client -c /etc/kcptun-client/%i.json
StandardError=null
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
