[Unit]
Description=Torrent Ratio
After=network.target
Before=qbittorrent.service

[Service]
ExecStart=/usr/local/bin/torrent-ratio -v
User=torrent
Restart=always

[Install]
WantedBy=multi-user.target
