[Unit]
Description=Shadowsocks redir
After=network.target

[Service]
ExecStart=/sbin/start-stop-daemon --start --chuid proxy --exec /usr/bin/ss-redir -- -c /etc/shadowsocks-libev/redir.json
ExecStartPost=/usr/local/bin/ss-chn
ExecStartPost=/sbin/iptables -t filter -A INPUT ! -i lo -p tcp --dport 7071 -j DROP
ExecStopPost=/usr/local/bin/ss-chn -f
ExecStopPost=/sbin/iptables -t filter -D INPUT ! -i lo -p tcp --dport 7071 -j DROP

[Install]
WantedBy=multi-user.target
