[Unit]
Description=Shadowsocks redir
After=network.target

[Service]
ExecStart=/sbin/start-stop-daemon --start --chuid proxy --exec /usr/bin/ss-redir -- -c /etc/shadowsocks-libev/redir.json
ExecStartPost=/usr/local/bin/ss-chn
ExecStopPost=/usr/local/bin/ss-chn -f

[Install]
WantedBy=multi-user.target
