[Unit]
Description=Shadowsocks rule
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ss-chn
ExecStop=/usr/local/bin/ss-chn -f

[Install]
WantedBy=multi-user.target
