<!DOCTYPE html>
<html>
    <head>
        <title>Motion Viewer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="no-referrer">
        <script src="vue.min.js"></script>
        <script src="axios.min.js"></script>
        <script src="flatpickr.min.js"></script>
        <link rel="stylesheet" href="flatpickr.min.css">
        <script src="vue-flatpickr-component.min.js"></script>
        <script src="vue-observe-visibility.min.js"></script>
        <link rel="stylesheet" href="bulma.min.css">
        <link rel="stylesheet" href="app.css">
        <script type="text/x-template" id="app-template">
            <div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" @click="bottom">Bottom</button>
                    </div>
                    <div class="control">
                        <button class="button is-primary" @click="update">{{ updateButton }}</button>
                    </div>
                    <div class="control">
                        <flat-pickr class="input" v-model="date" :config="dateConfig"></flat-pickr>
                    </div>
                </div>
                <div class="columns is-mobile is-multiline is-gapless">
                    <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
                        <mjpeg src="webcam"></mjpeg>
                    </div>
                    <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop" v-for="video in videosFiltered" :key="video.src">
                        <motion-video :basename="video.basename"></motion-video>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" @click="top">Top</button>
                    </div>
                    <div class="control">
                        <button class="button is-primary" @click="update">{{ updateButton }}</button>
                    </div>
                    <div class="control">
                        <flat-pickr class="input" v-model="date" :config="dateConfig"></flat-pickr>
                    </div>
                </div>
            </div>
        </script>
    </head>
    <body>
        <div class="container is-fluid">
            <div id="app">
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>
