# {{ ansible_managed }}

{% if theme.qt5 is defined %}
# Qt5 style
# https://wiki.archlinux.org/index.php/Uniform_look_for_Qt_and_GTK_applications#QGtkStyle
export QT_QPA_PLATFORMTHEME={{ theme.qt5 }}
{% endif %}

{% if browser.default is defined %}
# Set default browser
export BROWSER={{ browser.default }}
{% endif %}

# Enable xinput2 for firefox, a.k.a. per pixel scrolling
# https://bugzilla.mozilla.org/show_bug.cgi?id=1207973
export MOZ_USE_XINPUT2=1
# Enable vaapi
export MOZ_X11_EGL=1

{% if terminal is defined %}
# Set default browser
export TERMINAL={{ terminal }}
{% endif %}
