#jinja2: lstrip_blocks: True
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE fontconfig SYSTEM "../fonts.dtd">
<fontconfig>
  <!-- {{ ansible_managed }} -->

  <!-- Default fonts for sans, serif, monospace -->
  <alias>
    <family>sans-serif</family>
      <prefer>
        {% for font in font.sans %}
        <family>{{ font }}</family>
        {% endfor %}
      </prefer>
  </alias>
  <alias>
    <family>serif</family>
      <prefer>
        {% for font in font.serif %}
        <family>{{ font }}</family>
        {% endfor %}
      </prefer>
  </alias>
  <alias>
    <family>monospace</family>
      <prefer>
        {% for font in font.monospace %}
        <family>{{ font }}</family>
        {% endfor %}
      </prefer>
  </alias>

  <!-- Font substitutions -->
  {% for font in font.substitutions %}
  <match target="pattern">
    <test qual="any" name="family">
      <string>{{ font.origin }}</string>
    </test>
    <edit name="family" mode="assign" binding="same">
      <string>{{ font.substitution }}</string>
    </edit>
  </match>
  {% endfor %}

  <!-- https://wiki.debian.org/Fonts#Subpixel-hinting_and_Font-smoothing -->
  <match target="font">
    <edit mode="assign" name="rgba">
      <const>rgb</const>
    </edit>
  </match>
  <match target="font">
    <edit mode="assign" name="hinting">
      <bool>true</bool>
    </edit>
  </match>
  <match target="font">
    <edit mode="assign" name="hintstyle">
      <const>hintslight</const>
    </edit>
  </match>
  <match target="font">
    <edit mode="assign" name="antialias">
      <bool>true</bool>
    </edit>
  </match>
  <match target="font">
    <edit mode="assign" name="lcdfilter">
      <const>lcddefault</const>
    </edit>
  </match>
</fontconfig>
