# {{ ansible_managed }}

# Add ~/bin to PATH
if [ -d "$HOME/bin" ] ; then
    export PATH="$HOME/bin:$PATH"
fi
# Start X if at tty1, extra args are copied from startx code
[[ -z $DISPLAY && x"$(tty)" == x"/dev/tty1" ]] && exec startx -- :0 vt1 -keeptty -nolisten tcp -dpi {{ dpi | default(96) }}
