[Unit]
Description=Home Assistant
After=network.target

[Service]
ExecStart=/home/hass/venv/bin/hass --log-no-color --config /home/hass/config
User=hass

[Install]
WantedBy=multi-user.target
