[Unit]
Description=Home Assistant
After=network.target

[Service]
ExecStart=/home/hass/venv/bin/hass -c /home/hass/config
User=hass

[Install]
WantedBy=multi-user.target
