AcceptEnv LANG LC_*
ChallengeResponseAuthentication no
PasswordAuthentication no
PermitRootLogin no
Port 22
PrintMotd no
Protocol 2
Subsystem sftp /usr/lib/openssh/sftp-server
UseDNS no
UsePAM yes
X11Forwarding yes
