[LegalNotice]
Accepted=true

[Preferences]
Downloads\DiskWriteCacheSize=256
Downloads\PreAllocation=true
Downloads\SavePath={{ torrent.path }}
Queueing\MaxActiveTorrents=50
Queueing\MaxActiveUploads=40
WebUI\Password_ha1=@ByteArray({{ torrent.password }})
WebUI\Address=127.0.0.1
WebUI\UseUPnP=false
