[LegalNotice]
Accepted=true

[Preferences]
Downloads\DiskWriteCacheSize=256
Downloads\PreAllocation=true
Downloads\SavePath={{ torrent.path }}
Queueing\MaxActiveDownloads=10
Queueing\MaxActiveTorrents=100
Queueing\MaxActiveUploads=100
WebUI\Password_ha1=@ByteArray({{ torrent.password }})
WebUI\Address=127.0.0.1
WebUI\UseUPnP=false
