[Unit]
Description=Bittorrent client based on libtorrent-rasterbar
After=network.target

[Service]
ExecStart=/usr/bin/qbittorrent-nox
User=%i

[Install]
WantedBy=multi-user.target
