[Unit]
Description=Bittorrent client based on libtorrent-rasterbar
After=network.target nginx.service

[Service]
ExecStart=/usr/bin/qbittorrent-nox
User=torrent
UMask=0007

[Install]
WantedBy=multi-user.target
