#!/usr/sbin/nft -f

table ip ss-redir {
    set local {
        type ipv4_addr
        flags interval
        auto-merge
        elements = {
            {{ shadowsocks.server | replace('"', '') }},
{{ lookup('file', 'chn-cidr') }}
        }
    }
    chain output {
        type nat hook output priority 0;
        oif lo accept
        ip daddr @local accept
        tcp sport { {{ lookup('file', '/proc/sys/net/ipv4/ip_local_port_range') | replace("\t", '-') }} } tcp dport { 22, 53, 80, 8000, 443, 587, 993, 3000, 5222, 5228, 32200 } dnat to 127.0.0.1:7071
    }
    chain input {
        type nat hook input priority 0;
    }
}
