[Unit]
Description=Shadowsocks redir
After=network.target

[Service]
ExecStart=/sbin/start-stop-daemon --start --chuid proxy --exec /usr/bin/ss-redir -- -c /etc/shadowsocks-libev/redir.json
ExecStartPost=/usr/sbin/nft -f /etc/shadowsocks-libev/nftables.conf
ExecStopPost=-/usr/sbin/nft delete table ip ss-redir

[Install]
WantedBy=multi-user.target
