[Unit]
Description=Shadowsocks %i
After=network.target

[Service]
ExecStart=/bin/sh -c "exec /usr/bin/ss-%i -c /etc/shadowsocks-libev/%i.json"
User=proxy

[Install]
WantedBy=multi-user.target
