homeassistant:
  name: Home
  latitude: 30.25
  longitude: 120.17
  unit_system: metric
  time_zone: Asia/Shanghai

introduction:

frontend:

config:

http:
  api_password: {{ hass.api_password }}
  server_host: 127.0.0.1

updater:

discovery:

conversation:

history:

logbook:

map:

sun:

sensor:
  - platform: yr

tts:
  - platform: google

cloud:

group:

automation:

script:
