homeassistant:
  name: Home
  latitude: {{ hass.latitude }}
  longitude: {{ hass.longitude }}
  unit_system: metric
  time_zone: Asia/Shanghai
  auth_providers:
    - type: homeassistant
    # - type: legacy_api_password

frontend:

config:

http:
  api_password: {{ hass.api_password }}
  server_host: 127.0.0.1

media_player:
  - platform: braviatv
    host: {{ hass.braviatv_host }}

updater:
  reporting: False

discovery:

conversation:

history:

logbook:

map:

sun:

sensor:
  - platform: yr
    monitored_conditions:
      - temperature
      - symbol
      - humidity

tts:
  - platform: google

# cloud:

group:

automation:

script:
