homeassistant:
  name: Home
  latitude: 30.25
  longitude: 120.17
  unit_system: metric
  time_zone: Asia/Shanghai
  # auth_providers:
  #  - type: homeassistant

frontend:

config:

http:
  api_password: {{ hass.api_password }}
  server_host: 127.0.0.1

media_player:
  - platform: braviatv
    host: {{ hass.braviatv_host }}

updater:
  reporting: False

discovery:

conversation:

history:

logbook:

map:

sun:

sensor:
  - platform: yr

tts:
  - platform: google

cloud:

group:

automation:

script:
