allow-hotplug {{ wlan }}
iface {{ wlan }} inet manual
    wpa-roam /etc/wpa_supplicant/wpa_supplicant.conf

iface wpa inet manual
    wpa-roam /etc/wpa_supplicant/wpa_supplicant.conf

iface default inet dhcp
    metric 2
