#jinja2: lstrip_blocks: True
ctrl_interface=DIR=/run/wpa_supplicant GROUP=netdev
bgscan="simple:120:-75:600"
okc=1
pmf=1

{% for item in wireless.network %}
network={
  {% for key, value in item.iteritems() | sort %}
    {% if key == 'key_mgmt' or key == 'eap' or key == 'priority' or key == 'scan_ssid' %}
    {{ key }}={{ value }}
    {% else %}
    {{ key }}="{{ value }}"
    {% endif %}
  {% endfor %}
}
{% endfor %}

network={
    disabled=1
    key_mgmt=NONE
}
