# {{ ansible_managed }}

Package: *
Pin: release a=experimental
Pin-Priority: 1

Package: firefox firefox-l10n-* libjavascriptcoregtk* libwebkit2gtk* wpasupplicant
Pin: release a=experimental
Pin-Priority: 500

# Package: *
# Pin: release o=Debian, n={{ debian_dist | default(ansible_lsb.codename) }}
# Pin-Priority: 600

# Package: *
# Pin: release o=Unofficial Multimedia Packages
# Pin-Priority: 601

# Package: *nvidia* glx-diversions glx-alternative-mesa glx-alternative-nvidia
# Pin: release o=Debian, n=experimental
# Pin-Priority: 601

# Package: python3-pyqt5* python-pyqt5* libqt5*
# Pin: release a=experimental
# Pin-Priority: 601
