[Unit]
Description=Chinadns
After=network.target

[Service]
EnvironmentFile=/etc/default/chinadns
EnvironmentFile=-/var/run/chinadns
ExecStart=/usr/local/bin/chinadns -b $BIND_ADDR -p $BIND_PORT -c $CHNROUTE -s ${DNS_SERVER},${REMOTE_DNS_SERVER} $EXTRA_ARGS
User=proxy

[Install]
WantedBy=multi-user.target
