#!/usr/bin/env bash

#
# dns-01 challenge for DuckDNS
# https://www.duckdns.org/spec.jsp

set -e
set -u
set -o pipefail

token="{{ dehydrated.hooks.duckdns.token }}"

case "$1" in
    "deploy_challenge")
        domain="$(echo $2 | grep -o '[^.]\+\.[^.]\+\.[^.]\+$')"
        curl "https://www.duckdns.org/update?domains=$domain&token=$token&txt=$4"
        echo
        ;;
    "clean_challenge")
        domain="$(echo $2 | grep -o '[^.]\+\.[^.]\+\.[^.]\+$')"
        curl "https://www.duckdns.org/update?domains=$domain&token=$token&txt=removed&clear=true"
        echo
        ;;
    "deploy_cert")
        ;;
    "unchanged_cert")
        ;;
    "startup_hook")
        ;;
    "exit_hook")
        ;;
    *)
        echo Unknown hook "${1}"
        exit 0
        ;;
esac
