#jinja2: lstrip_blocks: True
iface dhcp inet dhcp
    metric 10

allow-hotplug enp0s20f0u1
iface enp0s20f0u1 inet dhcp
    metric 20

allow-hotplug enp0s20f0u2
iface enp0s20f0u2 inet dhcp
    metric 25

# allow-hotplug bnep0
iface bnep0 inet dhcp
    metric 30

{% if eth is defined %}
allow-hotplug {{ eth }}
iface {{ eth }} inet dhcp
    metric 40
{% endif %}
